
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <thead>
        <tr>
            <th>Nome Dipendente</th>
            <th>Cognome Dipendente</th>
            <th>Indirizzo</th>
            <th>Codice Fiscale</th>
            <th>Coniugato</th>
            <th>Figli</th>
            <th>Mansione</th>
        </tr>
    </thead>
    <tbody>
        @foreach(WebApplication1.Models.dipendenti emp in Model)
            {
                <tr>
                    <td>@emp.Nome</td>
                    <td>@emp.Cognome</td>
                    <td>@emp.Indirizzo</td>
                    <td>@emp.Codice_fiscale</td>
                    <td>@emp.Coniugato</td>
                    <td>@emp.Figli</td>
                    <td>@emp.Mansione</td>
                </tr>
            }
    </tbody>
</table>

